body {
    background: #ea2229;
    visibility: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background: #ea2229;
}
body::-webkit-scrollbar-button {
    height: 0;
}
body::-webkit-scrollbar-thumb {
    background: white;
}

section {
    overflow-x: hidden;
}

.main-banner {
    padding-top: 50px;
    padding-bottom: 150px;
    background-color: #ee252d;
    background-image: url(../img/bg.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}

.main-banner .wrapper {
    display: flex;
    align-items: center;
    color: #fff;
}

.main-banner__text-h2 {
    font-size: 50px;
}

.main-banner__text-p {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 25px;
}

.main-banner__button {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid #fff;
    padding: 10px 32px;
    transition: background .2s, transform .2s;
}

.main-banner__button:hover {
    background: rgba(255,255,255,.1);
    transform: scale(1.02);
}


.main-appeal {
    background: #eaeaea;
}

.main-appeal .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 15px;
}

.main-appeal h2 {
    font-size: 45px;
    color: #282828;
    font-weight: 900;
}

.main-appeal h2:before, .main-appeal h2:after {
    content: url(../img/pattern.svg);
    margin: 0 25px;
}

.main-appeal .wrapper > p {
    font-size: 20px;
    color: #959595;
    margin-top: 15px;
    margin-bottom: 25px;
}

.main-appeal__links {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.main-appeal__links li a {
    padding: 10px 0;
    margin: 0 10px;
    font-size: 18px;
    font-weight: 900;
    display: inline-block;
    border-bottom: 4px solid transparent;
    transition: border-bottom .2s;
}

.main-appeal__links li:not(:first-of-type):before {
    content: '';
    display: inline-block;
    width: 3px;
    height: 16px;
    background: #494949;
    margin: 0 10px;
    position: relative;
    top: 2px;
}

.main-appeal__links li a:hover {
    border-bottom: 4px solid #ea2229;
}

.main-appeal__links li a:after {
    opacity: 0;
    content: '';
    display: block;
    position: relative;
    left: calc(50% - 5px);
    top: 10px;
    background: #ea2229;
    width: 0; 
    height: 0; 
    border-left: 5px solid #eaeaea;
    border-right: 5px solid #eaeaea;
    border-bottom: 5px solid #ea2229;
    transition: opacity .2s;
}

.main-appeal__links li a:hover:after {
    opacity: 1;
}

.main-appeal__cards {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.main-appeal__card {
    width: 370px;
    background: #fff;
    padding: 0 50px;
    padding-top: 80px;
    padding-bottom: 60px;
    color: #282828;
    transition: transform .2s, box-shadow .2s;
    cursor: default;
}

.main-appeal__card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(0,0,0,.4)
}

.main-appeal__card-info {
    display: flex;
    align-items: center;
}

.main-appeal__card-number {
    font-size: 120px;
    font-weight: 900;
    display: inline-block;
}

.main-appeal__card h3 {
    font-size: 45px;
    font-weight: 900;
}

.main-appeal__card p {
    font-size: 18px;
}

.main-appeal__card-icon {
    margin-left: 5px;
}

.main-appeal__card:last-of-type .main-appeal__card-icon {
    margin-left: 20px;
}

.main-appeal__button {
    width: 469px;
    height: 93px;
    text-align: center;
    background-image: url(../img/board.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    margin-top: 70px;
    transition: transform .2s;
}

.main-appeal__button:hover {
    transform: scale(1.015);
}











@media screen and (max-width: 1200px) {
    .main-appeal__cards {
        flex-direction: column;
    }
}

@media screen and (max-width: 1100px) {
    .main-banner img {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .main-banner {
        padding-bottom: 50px;
    }
    .main-banner .wrapper {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .main-banner img {
        width: 100%;
    }
    .main-banner__button {
        display: block;
        margin: 0 auto;
        width: 180px;
    }

    .main-appeal {
        text-align: center;
    }
    .main-appeal h2:before, .main-appeal h2:after {
        width: 102px;
        display: block;
        margin: 0 auto;
    }
    .main-appeal__links {
        flex-direction: column;
        align-items: center;
    }
    .main-appeal__links li:not(:first-of-type):before {
        display: none;
    }
    .main-appeal__card-info {
        justify-content: center;
    }
    .main-appeal__button {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .main-appeal__card {
        width: auto;
        margin: 0 auto;
        padding: 0 20px;
        padding-top: 80px;
        padding-bottom: 60px;
    }
    .main-appeal__button {
        font-size: 24px;
    }
}